services:
  api:
    build: .
    container_name: space-together-api
    ports:
      - "4646:4646"
    env_file:
      - .env
    environment:
      RUST_LOG: info
      PORT: 4646
      MONGO_URI: mongodb://mongo:27017/main_database
    volumes:
      - .:/app
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: space-together-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
